.content{
    height: 91vh;
    display: flex;
    padding:2rem 0;
    flex-direction: column;
    gap: 1rem;
    /* background-color: red ; */
}

.content-container{
    display: flex;
    width: 100%;
    /* background-color: green; */
    gap: 1rem;
}

.content-half{
    width: 100%;
    flex-direction: column;
    /* background-color: blue; */
    padding: 1rem;
}

.content-line{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* background-color: rgb(0, 195, 255); */
}

.card{
    /* background-color: red; */
    height: 70px;
    width: 300px;
}

.card-container .nav-link{
    /* background-color: green; */
    height: 70px;
}

.half1{
    flex-basis: 25%;
    /* background-color: red; */
    align-items: center;
    justify-content: start;
    padding-right: 4rem;
    border-right: 1px dashed grey ;
}

.half2{
    flex-basis: 75%;
}
.content-line h4{
    text-align: center;
    width: 20%;
    /* background-color: red; */
}
.content-line code{
    background-color: rgba(232, 223, 223, 0.737);
    width: 80%;
    padding: 1rem;
    border: none;
    border-radius: 4px;
}
span{
    color: black;
}

.ans{
    text-decoration: underline;
}

.render-content{
    /* background-color: red; */
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

/* Slide in from the left */
.slide-enter {
    transform: translateX(100%);
    opacity: 0;
  }
  
  .slide-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  }
  
  /* Slide out to the right */
  .slide-exit {
    transform: translateX(0);
    opacity: 1;
  }
  
  .slide-exit-active {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  }

  /* Initial state before the transition */
.fade-enter {
    opacity: 0;
    transform: translateY(0%);
  }
  
  /* Active state during the transition */
  .fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms ease-in, transform 300ms ease-in;
  }
  
  /* Initial state for exit transition */
  .fade-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Active state during exit transition */
  .fade-exit-active {
    opacity: 0;
    transform: translateY(0%);
    transition: opacity 300ms ease-in, transform 300ms ease-in;
  }
